<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <script src="../../static/libs/jquery-3.3.1.min.js" th:src="@{/libs/jquery-3.3.1.min.js}"></script>
    <script src="../../static/libs/bootstrap.min.js" th:src="@{/libs/bootstrap.min.js}"></script>
    <link href="../../static/libs/bootstrap.min.css" th:href="@{/libs/bootstrap.min.css}" rel="stylesheet">
    <style type="text/css">
        body {
            background: #dedede;
        }

        .page-wrap {
            min-height: 100vh;
        }
    </style>
</head>
<body>
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">Страница, которую вы ищите, не найдена.</div>
                <a href="/" class="btn btn-link">На домашнюю страницу</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>