body {
    font-family: 'open sans', serif;
    overflow-x: hidden;
}

.card {
    padding: 3em;
    margin-top: 50px;
    margin-bottom: 5px;
    background: #eee;
    line-height: 1.5em;
}

.card img {
    width: 100%;
}

.product-title {
    margin-top: 0;
}

h3.product-title {
    font-weight: bold;
}