.showcase-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

#showcase {
    text-align: justify;
    margin: 0;
    padding: 0;
}

#showcase:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
}

#showcase:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

.card {
    width: 16rem;
    display: inline-block;
    position: relative;
}

.card .card-body b {
    margin-right: 2px;
}