<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>

    <!-- LIBRARIES -->
    <script src="../static/libs/jquery-3.3.1.min.js" th:src="@{/libs/jquery-3.3.1.min.js}"></script>
    <script src="../static/libs/bootstrap.min.js" th:src="@{/libs/bootstrap.min.js}"></script>
    <link href="../static/libs/bootstrap.min.css" th:href="@{/libs/bootstrap.min.css}" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}"/>
    <script src="../static/js/ajax.js" th:src="@{/js/ajax.js}"></script>
    <script src="../static/js/home.js" th:src="@{/js/home.js}"></script>
</head>
<body style="display: none">
<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding-top: 25px">
            <h1>Личный кабинет</h1>
            <p id="login" class="h3" style="display: inline"></p>
            <a id="logout" class="btn btn-danger">выйти</a>
            <p id="full-name" style="font-size: 25px"></p>
        </div>
    </div>
</div>
</body>
</html>