<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Альбомы</title>

    <!-- LIBRARIES -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}"/>
    <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <p class="navbar-brand" style="margin: 0">МУЗЫКАЛЬНЫЕ ТОВАРЫ</p>
        <div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-outline-secondary" href="/home">Домой</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #41474c">
    <div class="container">
        <form id="search" class="form-inline">
            <input id="query" class="form-control mr-2" type="search"/>
            <button class="btn btn-success mr-2" type="submit">Поиск</button>
            <div id="dropdown-search-type" class="dropdown">
                <button class="btn btn-outline-warning dropdown-toggle mr-2" data-toggle="dropdown">
                    по альбомам
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" id="byAlbum">по альбомам</a>
                    <a class="dropdown-item" href="#" id="bySinger">по исполнителям</a>
                    <a class="dropdown-item" href="#" id="byLabel">по лейблам</a>
                </div>
            </div>
            <div id="dropdown-media-type" class="dropdown checkbox-dropdown">
                <button class="btn btn-outline-warning dropdown-toggle my-2 my-sm-0" data-toggle="dropdown">
                    тип
                </button>
                <ul class="dropdown-menu">
                    <li><label><input value="cd" type="checkbox">CD</label></li>
                    <li><label><input value="vinyl" type="checkbox">Винил</label></li>
                    <li><label><input value="cassette" type="checkbox">Кассета</label></li>
                </ul>
            </div>
        </form>
    </div>
</nav>
<div class="container showcase-container">
    <div id="showcase-container" class="row">
        <ul id="showcase" class="card-deck"></ul>
    </div>
</div>
<nav class="page-nav">
    <ul id="pagination" class="pagination justify-content-center"></ul>
</nav>
</body>
</html>