<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>

    <!-- LIBRARIES -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}"/>
    <script src="../static/js/ajax.js" th:src="@{/js/ajax.js}"></script>
    <script src="../static/js/login.js" th:src="@{/js/login.js}"></script>
</head>
<body id="LoginForm">
<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Авторизация</h2>
                <p>Введите логин и пароль</p>
            </div>
            <form id="login">
                <div class="form-group">
                    <input type="text" class="form-control" id="inputLogin" placeholder="Login"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password"/>
                </div>
                <button type="submit" class="btn btn-primary">Авторизация</button>
                <div id="result"></div>
            </form>
            <p id="message" style="margin-top: 10px; color: crimson; font-weight: bold"></p>
        </div>
    </div>
</div>
</body>
</html>